/*
Author - Vinit Shahdeo
View more @ https://github.com/vinitshahdeo/
*/
body{
  display: table;
  width: 100%;
  background: #dedede;
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #191919;
  overflow-x: hidden;
  
}
*{ 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.aa_h2{
  font:100 5rem/1 Roboto;
  text-transform: uppercase;
}
table{
   background: #fff;
}
table,thead,tbody,tfoot,tr, td,th{
  text-align: center;
  margin: auto;
  border:1px solid #3f3f3f;
  padding: 1rem;
  width: 50%;
}
.table    { display: table; width: 80%; }
.tr       { display: table-row;  }
.thead    { display: table-header-group }
.tbody    { display: table-row-group }
.tfoot    { display: table-footer-group }
.col      { display: table-column }
.colgroup { display: table-column-group }
.td, .th   { display: table-cell; width: auto; }
.caption  { display: table-caption }

.table,
.thead,
.tbody,
.tfoot,
.tr,
.td,
.th{
  text-align: center;
  margin: auto;
  padding: 1rem;
}
.table{
  background: #fff;
  margin: auto;
  border:2px solid teal;
  padding: 0;
  margin-bottom: 5rem;
  border-collapse: collapse;
}

.th{
  font-weight:900;
  color: teal;
  border:2px solid teal;
  &:nth-child(odd){
    border-right:none;
  }
}
.td{
  font-weight: 300;
  border:1px solid teal;
  border-top:none;
  &:nth-child(odd){
    border-right:none;
  }
}

.aa_htmlTable{
  font-family: 'Raleway', sans-serif;
  padding: 3rem;
  display: table;
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
  vertical-align: middle;
}



.heading{
       font-family: 'Verdana', sans-serif; 
    color:teal;
    }

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid teal;
    border-radius: 4px;
}

 input[type=submit] {
    background-color: transparent; /* Green */
    border: 2px solid teal;
    border-radius: 6%;
    color: teal;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}



input[type=submit]:hover {
    background-color: teal;
    color: white;
}
    .fa{
        color:teal;
    }
    .title{
        color:teal;
        font-weight: bolder;
       border:2px solid teal;
    }

.res{
        font-size: 18px;
    }
    
    .neg{
        color:#CD3E20;
        font-size: 18px;
        font-weight: 800;
    }
    .pos{
        color: teal  ;
        font-size: 18px;
        font-weight: 800;
    }
    .neu {
        color : #2E302C;
        font-size: 18px;
        font-weight: 800;
    }
